/* ! Global */

:root {
    --black-dark: #111825;
    --black-light: #3b3f46;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 64px;
    height: 100vh;
}

button {
    padding: 10px 16px;
    border-radius: 32px;
    border: 0;
}
button:hover {
    opacity: 0.9;
    text-decoration: underline;
    cursor: pointer;
}


/* ! Header */

#header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* * logo */
#logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black-dark);
    display: flex;
}
#logopic {
    background: #ffc101;
    color: white;
    height: 18px;
    width: 18px;
    margin: auto;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    margin-right: 4px;
}

/* * nav */
nav {
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}
li {
    list-style-type: none;
}
a {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--black-light);
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

/* * contact */
#contact button {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black-dark);
    background: #ffc101;
}

/* ! Body */

#body {
    height: 100%;
    width: 100%;
    margin-top: 32px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom right, #ffc101, #f8971e);
    display: flex;
}

/* * left */
#left {
    width: 35%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    position: relative;
    padding: 32px 64px 128px;
    gap: 32px;
}

#logoDot {
    background: var(--black-dark);
    color: #fdb908;
    border-radius: 32px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
    font-size: 2rem;
}
#title {
    font-size: 4rem;
    font-weight: 600;
}
#whiteText {
    color: white;
}
#desc {
    color: var(--black-light);
    font-size: 1.2rem;
}
#bts {
    --height: 3rem;
    display: flex;
    height: var(--height);
    gap: 8px;
}
#bt1 {
    background: black;
    color: white;
    font-size: 1rem;
    padding: 0 24px;
}
#bt2 {
    font-size: 0.8;
    padding: 10px;
    border-radius: 100%;
    width: var(--height);
    line-height: 0;
    background: transparent;
    border: 1px solid var(--black-dark);
    text-decoration: none;
}

#scroll {
    display: flex;
    gap: 8px;
    align-items: center;
    position: absolute;
    bottom: 32px;
    cursor: pointer;
}
#scrollArrow {
    font-size: 1.8rem;
    border: 1px solid var(--black-light);
    padding: 0 4px;
    border-radius: 50px;
}
#scrollText {
    font-size: 1rem;
    font-weight: 600;
    color: var(--black-light)
}

/* * right */
#right {
    width: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 32px 64px;
}

#img {
    height: 80%;
    width: 80%;
    border: 1px solid var(--black-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ! Footer */

#footer {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#brand {
    height: 100px;
    width: 250px;
    background: var(--black-light);
    opacity: 0.2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 32px;
}